<a href="#modal" id="show-modal">Login</a>

<div id="modal" class="modal">
    <form class="content-modal animate">
        <span class="close-modal">&times;</span>
        <a href="#" class="btn-close-modal"></a>
        <p >LOGIN</p>
        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>
          
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
          
            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
        
    </form>
</div>